
@{
    ViewBag.Title = "Index";
}

<h2 style="color:forestgreen;">@ViewBag.Msg</h2>
<script src="sorttable.js"></script>
<p>see the created xml data 
    @Html.ActionLink("here", "DisplayXML","Home")</p>

